:root{
    --color-brand-light: #819B57;
    --color-primary-light: #FAF4EA;
    --color-primary-dark: #31261A;
    --color-brand-dark: #465929;
    --color-brand-white: #cfcfbc;
    --color-secondary-dark: #A28268;
}