.chefs-section{
   &__title{
      margin: 0 auto 24px;
      position: relative;
      @media screen and (min-width: $bp-desktop){
         margin-bottom: 80px;
      }
   }
   &__list{
   display: flex;
   flex-direction: column;
   gap: 20px;
   flex-wrap: wrap;
   @media screen and (min-width: $bp-tablet){
      gap: 40px 30px;
      flex-direction: row;
   }
   }
   &__item{
      @media screen and (min-width: $bp-tablet){
         flex-basis: calc((100% - 30px)/2);
      }
   }
   &__title::after,
   &__title::before{
      display: none;
      width: 352px;
      border: 2px solid var(--color-secondary-dark);
      display: block;
      content: '';
      @media screen and (min-width: $bp-desktop){
         display: block;
      }
   }
   &__title::after{
      display: none;
      position: absolute;
      right: 0;
      bottom: 24px;
      @media screen and (min-width: $bp-desktop){
         display: block;
      }
   }
   &__title::before{
      display: none;
      position: absolute;
      left: 0;
      bottom: 24px;
      @media screen and (min-width: $bp-desktop){
         display: block;
      }
   }
}
