.format-section{
    &__title{
        font-size: 64px;
        font-weight: 900;
        line-height: 1.3;
        color: var(--color-primary-dark);
    }
    &__container{
        display: flex;
        gap: 32px;
        align-items: center;
    }
    &__list{
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
    }
    &__item{
        flex-basis: calc((100% - 40px) / 3);
    }
}

.format-text{
    font-size: 14px;
    font-weight: 300;
    color: var(--color-primary-light);
}
.format-section-title{
    margin-bottom: 80px;
}
.format{
    border-radius: 16px;
    padding: 24px;
    background-image: linear-gradient(180deg, 
    rgba(49, 38, 26, 0) 55.21%,
    rgba(49, 38, 26, 0.71) 72.92%,
    #31261a 100%);
    height: 444px;
    transition: transform 0.3s;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.format:hover{
    transform: scale(1.05);
}



.format-image{
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}